{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

{{ annotations | dump }}
<div class="o-grid-row">

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7" id="speech-intro">
  <figure class="graphic graphic-b-1 graphic-pad-1">
  	<img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3Ae38e8ce4-25ef-11e7-a34a-538b4cb30025?source=ig&width=700&fit=scale-down" />
    <figcaption class="o-typography-caption">FT graphic: Kari-Ruth Pedersen</figcaption>
  </figure>

  <!-- <a href="" target="_blank">TKTK link to PDF TKTK</a> -->

  {{ intro }}
</section>

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7">
  <div class="speech" data-annotation-text data-annotation-id="{{berthaId}}">
    {{ speech | safe }}
  </div>
</section>
</div>
{% endmarkdown %}
{% endblock %}
