{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

{{ annotations | dump }}
<div class="o-grid-row">

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7" id="speech-intro">
  <figure class="graphic graphic-b-1 graphic-pad-1">
  	<img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3A451abb82-356c-11e7-99bd-13beb0903fa3?source=ig&width=700&fit=scale-down" />
    <figcaption class="o-typography-caption">FT graphic: Kari-Ruth Pedersen</figcaption>
  </figure>

  {{ intro }}
</section>

<section data-o-grid-colspan="12 M10 Mcenter L8 Lpush1 Luncenter XL7">
  <div class="speech" data-annotation-text data-annotation-id="{{berthaId}}">
    <!-- Office of the Attorney General letterhead effect -->
    <div style="float: left; width: 100%; margin: 10px 0 0; padding-bottom: 10px; border-bottom: 1px solid #505050">
      <div style="display: inline-block; float: left; width: 50%; min-height: 100px; text-align: left">
        <img src="images/Seal_of_the_United_States_Department_of_Justice.png" width="100">
        <!-- <span style="font-family: Helvetica; color: #777; font-size: 0.8em; margin: 10px 0 0; position: absolute; top: 0; left: 110px"><strong>US Department of<br />Justice</strong></span> -->
      </div>
      <div style="display: inline-block; float:right; width: 48%; min-height: 100px">
        <p>
          <strong>U.S. Department of Justice</strong><br>
          Office of the Deputy Attorney General
        </p>
        <!-- <p>Washington, D.C. 20530<br />May 9, 2017</p> -->
      </div>
    </div>
    <div style="float: left; width: 100%; margin: 10px 0 0">
      <div style="display: inline-block; width: 50%; height: 100%; text-align: left">
        <p><small>The Deputy Attorney General</small></p>
      </div>
      <div style="display: inline-block; float:right; width: 48%; min-height: 100px">
        <p>
          <small>
            <em>Washington, D.C. 20530</em>
          </small>
        </p>
      </div>
    </div>
    <!-- End letterhead -->
    {{ speech | safe }}
  </div>
</section>
</div>
{% endmarkdown %}
{% endblock %}
